/* Light Mode (default) */
:root {
  --bg-color: #f9fafb;
  --text-color: #1f2937;
  --card-bg: #ffffff;
  --muted-bg: #f3f4f6;
  --primary: #4f46e5;
  --error: #ef4444;
  --shadow-color: rgba(0, 0, 0, 0.05);
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #e5e7eb;
  --card-bg: #2d2d2d;
  --muted-bg: #3b3b3b;
  --primary: #6366f1;
  --error: #f87171;
  --shadow-color: rgba(206, 200, 200, 0.671);

}

/* Apply colors globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s ease;
}

/* Utility Classes */
.dashboard-container {
  background-color: transparent;
  color: var(--text-color);
  padding-left: var(--sidebar-width);

}

.dashboard-container h2,
.dashboard-container h3{
    color: var(--text-color);
}

.dashboard-container li{
    background-color: var(--bg-color);
}

.dashboard-section tr:nth-child(1){
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dashboard-card,
.dashboard-section,
.admin-section {
  background-color: var(--card-bg);
  color: var(--text-color);
}

.dashboard-card{
    box-shadow: 0 2px 6px var(--shadow-color);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.bg-muted {
  background-color: var(--muted-bg);
}

.text-primary {
  color: var(--primary);
}

.text-error {
  color: var(--error);
}
