/* Default (light mode) */
.sidebar {
  width: 3.6rem;
  background-color: #ffffff;
  color: #1f2937;
  border-right: 1px solid #e5e7eb;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar.expand {
  width: 16rem;
}

/* Buttons and hover states */
.collapse-btn,
.theme-toggle,
.menu-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

/* Active route background */
.menu-item.active {
  background-color: #4f46e5; /* solid blue */
  color: #fff;
}

/* .menu-item.highlight {
  background-color: #5950f3;
  color: #fff;
} */



/* Tooltip */
.tooltip {
  background-color: #172238;
  color: #fff;
  pointer-events: none;
}

/* Dark mode */
.dark-mode.sidebar {
  background-color: #111827;
  color: #f9fafb;
  border-right: 1px solid #374151;
}

.dark-mode .menu-item:hover {
  background-color: #756ff3;
}


.dark-mode .tooltip {
  background-color: #374151;
}

/* Dark mode buttons */
.dark-mode .collapse-btn,
.dark-mode .theme-toggle {
  background-color: #1f2937;
  color: #f9fafb;
  border: 1px solid #374151;
}

.dark-mode .collapse-btn:hover,
.dark-mode .theme-toggle:hover {
  background-color: #374151;
}
